h1
	{
		color:gray;
		text-align:center;
		font-size:100px;
	}
	#demo1{
		background-color:white;
		border:2px solid black;
		color:#008B8B;
	}
	#demo{
		color:gray;
		font-size:50px;
		background-color:white;
		border:2px solid black;

	}
	#demo2
	{
		background-color:white;
		color:gray;
		font-size:25px;
	}
	body
	{
      	background: linear-gradient(90deg, rgba(131,58,180,0.7) 0%, rgba(253,29,29,0.7) 50%, rgba(252,176,69,0.7) 100%); 
    
    }
    .btn
    {
    	background-color:white;
    	border:2px solid black;
    	cursor: pointer;
    	text-align:center;
    	padding:15px 32px;
    	font-size:20px;
    }
     .b1{

   		position:fixed;
  		left: 700px;
  		top: 350px;
}

	